docs

.git
.github
.gitignore
.gitattributes

node_modules
vendor

.env
.env.*
!.env.example

storage/logs/*
!storage/logs/.gitkeep
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*

tests
phpunit.xml
.phpunit.result.cache

.vscode
.idea
.DS_Store

nixpacks.toml

.dockerignore
Dockerfile
